html {
    scroll-behavior: smooth;
}

body {
    background-color: #E7E0DA;    
}

body::selection {
    background-color: #1A120F;
    color: #E7E0DA;    
}

header{
    margin-top: 0;
    margin-bottom: -3rem;
}
.cabecalho__nav {
    max-width: 1024px;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

ul {
    list-style-type: none
}

.cabecalho__link {
    display: inline-block;
    padding: 0 .5rem;     
}

.cabecalho__link a {
    font-family: "Roboto Mono", sans-serif;
    text-decoration: none;
    color: inherit;  
    font-size: 1.3rem;
}

.div__apresentação {
    max-width: 1024px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 3rem auto;
    border: 1px solid #1A120F;
    border-radius: 4px;
    padding: 2rem;
    box-sizing: border-box;
    
}

.titulo {
    font-family: "Roboto Mono", sans-serif;
    font-weight: 400;
    margin-bottom: 4rem;
    width: 100%;
    margin-top: 0;
}

.div__apresentação p {
    font-family: "Roboto Mono", sans-serif;
    line-height: 1.5rem;
    text-align: end;
}

.section__projetos {
    max-width: 1024px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 3rem auto;
    border: 1px solid #1A120F;
    border-radius: 4px;
    padding: 2rem;
    box-sizing: border-box;
}

.section__projetos a {
    font-family: "Roboto Mono", sans-serif;
    line-height: 1rem;
    text-align: end;
    text-decoration: none;
    color: inherit;
    box-sizing: border-box;
    display: inline-block;
    align-self: flex-end;
  }
  
  .section__projetos p {
    margin: 0.5em;
  }
  
  .link__projetos {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    
  }

  .div__projeto {
    display: flex;
    flex-direction: column;
    transition: 3s;
  }

#visitar {
    font-size: 1rem;
    background-color: #E7E0DA;
    color: #1A120F;
    padding: .5rem;
}  

#texto__digitado {
    font-family: "Roboto Mono", sans-serif;
    line-height: 1rem;
    text-align: end;
    text-decoration: none;
    color: #E7E0DA;
    background-color: #1A120F;
}

/* SEÇÃO CONHECIMENTO */
.section__conhecimentos {
    max-width: 1024px;
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 3rem auto;
    border: 1px solid #1A120F;
    border-radius: 4px;
    padding: 2rem;
    box-sizing: border-box;
}

.section__conhecimentos IMG{
    max-width: 150px;
   
}

.section__conhecimentos p{
    font-size: 1.5rem;
   
}

.item__conhecimento {
    display: flex;
    flex-direction: column;
    max-width: 30%;
    min-width: 30%;
    align-items: center;
    padding-bottom: 2rem;
}

.item__conhecimento img {
    max-height: 120px;
}

.itens {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
}

.itens p {
    font-family: "Roboto Mono", sans-serif;
    line-height: 1rem;
    text-decoration: none;
    color: inherit;
    box-sizing: border-box;
    margin-bottom: 2rem;

}
/* SEÇÃO REDES */
.section__redes {
    max-width: 1024px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 3rem auto;
    border: 1px solid #1A120F;
    border-radius: 4px;
    padding: 2rem;
    box-sizing: border-box;
}

.redes {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 3rem;
}

.item__redes {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}


.item__redes  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Roboto Mono", sans-serif;
    line-height: 1rem;
    text-decoration: none;
    color: inherit;
    box-sizing: border-box;
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

.item__redes  a p{
    padding: .6rem 0;
}

.item__redes img {
    width: 100px;
}

/* SEÇÃO CONTATO */
.section__contato {
    max-width: 1024px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 3rem auto;
    border: 1px solid #1A120F;
    border-radius: 4px;
    padding: 2rem;
    box-sizing: border-box;
}

.inputs__contato__pai {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 1.5rem;
}
.inputs__contato {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.inputs__contato2 {
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: flex-end;
}

.inputs__contato2 label {
    font-family: "Roboto Mono", sans-serif;
    line-height: 1rem;
    margin-bottom: .5rem;
    align-self: flex-start;
    margin-left: 3rem;
}

.inputs__contato label {
    font-family: "Roboto Mono", sans-serif;
    line-height: 1rem;
    margin-bottom: .5rem;
}

.inputs__contato input {
    border:  1px solid #1A120F;
    border-radius: 4px;
    width: 90%;
    padding: .3rem;
    box-sizing: border-box;

}

.inputs__contato2 input {
    border:  1px solid #1A120F;
    border-radius: 4px;
    width: 90%;
    padding: .3rem;
    box-sizing: border-box;

} 

.mensagem__contato {
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

.mensagem__contato label {
    font-family: "Roboto Mono", sans-serif;
    line-height: 1rem;
    margin-bottom: .5rem;
}

.mensagem__contato textarea {
    max-width: 100%;
    min-height: 150px;
    border:  1px solid #1A120F;
    border-radius: 4px;
    padding: .2rem;
    box-sizing: border-box;
}

/* Área da transição do menu de projetos */

#transicao {
    color: #1A120F;
    position: relative;
    text-decoration: none;
}

#transicao:hover {
    color: #E7E0DA;
    position: relative;
    text-decoration: none;
}
#transicao::before {
    background: #1A120F;
    content: "";
    inset: 0;
    position: absolute;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s ease-in-out;
    z-index: -1;
    color: #E7E0DA;
  }

#transicao:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

/* Área de texto explicativo animado */

.oculto {
    display: none;
}

.aparecer {
    font-family: "Roboto Mono", sans-serif;
    line-height: 1rem;
    text-align: end;
    text-decoration: none;
    color: #E7E0DA;
    background-color: #1A120F;
    display: grid;
    width: 100%;
    box-sizing: border-box;
    padding: .3rem;
    line-height: 1.3rem;
    
    overflow: hidden;
        animation: 
        typing .8s steps(50),
        cursor .4s step-end infinite alternate;
}

@keyframes cursor {
    50% {border-color: transparent}
}

@keyframes typing {
    from { width: 0}
}

