html {
    scroll-behavior: smooth;
}

body {
    background-color: #E7E0DA;    
}

body::selection {
    background-color: #1A120F;
    color: #E7E0DA;    
}

header{
    margin-top: 0;
    margin-bottom: -3rem;
}
.cabecalho__nav {
    max-width: 1024px;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

ul {
    list-style-type: none
}

.cabecalho__link {
    display: inline-block;
    padding: 0 .5rem;     
}

.cabecalho__link a {
    font-family: "Roboto Mono", sans-serif;
    text-decoration: none;
    color: inherit;  
    font-size: 1.3rem;
}

.div__apresentação {
    max-width: 1024px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 3rem auto;
    border: 1px solid #1A120F;
    border-radius: 4px;
    padding: 2rem;
    box-sizing: border-box;
    
}

.titulo {
    font-family: "Roboto Mono", sans-serif;
    font-weight: 400;
    margin-bottom: 7rem;
    width: 100%;
    margin-top: 0;
}

.div__apresentação p {
    font-family: "Roboto Mono", sans-serif;
    line-height: 1.5rem;
    text-align: end;
}

.section__projetos {
    max-width: 1024px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 3rem auto;
    border: 1px solid #1A120F;
    border-radius: 4px;
    padding: 2rem;
    box-sizing: border-box;
}

.section__projetos a {
    font-family: "Roboto Mono", sans-serif;
    line-height: 1rem;
    text-align: end;
    text-decoration: none;
    color: inherit;
    box-sizing: border-box;
    display: inline-block;
    align-self: flex-end;
  }
  
  .section__projetos p {
    margin: 0.5em;
  }
  
  .link__projetos {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    
  }

  .div__projeto {
    display: flex;
    flex-direction: column;
  }

#visitar {
    font-size: 1rem;
    background-color: #E7E0DA;
    color: #1A120F;
    padding: .5rem;
}  

/* Área da transição do menu de projetos */

#transicao {
    color: #1A120F;
    position: relative;
    text-decoration: none;
}

#transicao:hover {
    color: #E7E0DA;
    position: relative;
    text-decoration: none;
}
#transicao::before {
    background: #1A120F;
    content: "";
    inset: 0;
    position: absolute;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s ease-in-out;
    z-index: -1;
    color: #E7E0DA;
  }

#transicao:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

/* Área de texto explicativo animado */

.oculto {
    display: none;
}

.aparecer {
    font-family: "Roboto Mono", sans-serif;
    line-height: 1rem;
    text-align: end;
    text-decoration: none;
    color: #E7E0DA;
    background-color: #1A120F;
    display: inline-block;
    width: 100%;
    margin-right: 2rem;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    padding: .3rem;
    line-height: 1.3rem;
    animation: 
        typing 1s steps(50),
        cursor .4s step-end infinite alternate;
}

@keyframes cursor {
    50% {border-color: transparent}
}

@keyframes typing {
    from { width: 0}
}

